<div class="wrapper">
  <div class="resistration-wrapper">
    <h2>サインアップ</h2>
    <div class="form-wrapper">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <table class="form-table">
      <tbody>
        <%= render "devise/shared/error_messages", resource: resource %>
          <tr>
            <th>名前</th>
            <td><%= f.text_field :name, placeholder: "suke", id: "name" %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= f.email_field :email, placeholder: "mitekurete@arigatou.com" %></td>
          </tr>
          <tr>
            <th>パスワード</th>
            <td><%= f.password_field :password, autocomplete: "new-password", placeholder: "arigatou" %></td>
          </tr>
          <tr>
            <th>パスワード確認</th>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "arigatou" %></td>
          </tr>
          </tbody>
    </table>
    <div class="action-wrapper">
      <%= f.submit "サインアップ", class: "action" %>
    </div>
    <% end %>
    </div>
  </div>
</div>
<%= render "devise/shared/links" %>